.home{
    background: var(--back);
    padding: 6rem 8% 9rem 8%;
    display: flex; 
    width: 100%;   
}

.main{
    width: 100%;
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}
.home_img img{
    width: 550px;
    height: auto;
}

.home_text{
    display: flex;
    flex-direction: column;
}

.home_text h1{
    color: #FFF;
font-size: 4rem;
font-style: normal;
font-weight: 400;
line-height: 91px;
}

.home_text h1 span{
    color: var(--green);
}

.home_text p{
    padding-top: 2.5rem;
    color: white;
    font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: 37.8px
}
.download_btn> svg{
    font-size: 2rem !important;
}

.download_btn{
    margin-top: 1.8rem;
    border-radius: 100px;

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px;
color: #FFF;
background: var(--green);
padding: 0.6rem 2rem;
width: fit-content;
}

.check{
    
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.check p{
    padding-top: 1.8rem;
    font-size: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.8rem;
font-style: normal;
font-weight: 400;
line-height: normal;
color: white;
}

.check p svg{
    color: var(--green);
    font-weight: 600;
    font-size: 1rem;
}

.star{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
    background: white;
    width: fit-content;
    border-radius: 20px;


}

.sta{
    display: flex;
    flex-direction: column;
    padding: 1rem 3.5rem;
    text-align: center;
    align-items: center;
}

.sta h3{
    color: #0D0D0D;
    padding-bottom: 1rem;
text-align: center;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 56px; 
}

.star_1 span{
    color: var(--green);
    font-size: 15px;
font-style: normal;
font-weight: 400;
padding-bottom: 0;
}
.star_1 h3{
    margin-top: -1rem;
}
.star_1 p{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: #0D0D0D;
    padding-top: 0.6rem;
}

.star_1 img{
    padding-top: 0.6rem;
    width: 7rem;
}

.star_2 img{
    width: 7rem;
    
}
.star_2 span{
    color: #0D0D0D;
text-align: center;
padding-top: 0.6rem;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 26.6px; /* 140% */
letter-spacing: -1px;
}

.star_2 p{
    color: #63657E;
text-align: center;
font-size: 15px;
font-style: normal;
font-weight: 400;
padding-top: 0.4rem;
}

.glob{
    background: #E6F7F1;
    color: #111827;
    padding: 6rem 12%;
}


.glob_text{
    text-align: center;
}

.glob_text h2{
    font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 60px;
letter-spacing: -1px;
}

.glob_text p{
    padding-top: 2rem;
    font-size: 1.3rem;
font-style: normal;
font-weight: 400;
line-height: 37.8px;
}

.video {
    position: relative;
    max-width: 100%;
    margin-top: 4.7rem;
  }
  
  video {
    border-radius: 20px;
    width: 100%;
    height: 80vh;
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF; /* Change to your desired button color */
    color: #fff; /* Button text color */
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3; /* Change to the hover color you prefer */
  }

.why{
    width: 100%;
    padding: 4rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem ;

}
.why_text{
    width: 100%;
}
.why_text span{
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19.6px; /* 140% */
letter-spacing: 2px;
text-transform: uppercase;
}

.why_text h2{
    padding-top: 2rem;
}
.why_text p{
    padding-top: 2rem;
    color: rgba(13, 13, 13, 0.80);
font-size: 1.3rem;
font-style: normal;
font-weight: 400;
line-height: 37.8px; /* 180% */
}
.why_list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem
    ;
    width: 100%;
    align-self: flex-end;
}

.why_card{
    width: 63%;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 50px 0px rgba(52, 44, 108, 0.10);
    padding: 2.5rem 1.8rem;
    justify-self: end;
    align-self: flex-end;
}
.card_text h4{
    color: #1F2348;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: 26.6px; /* 140% */
letter-spacing: -1px;

}

.card_text p{
    color: #63657E;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 22px; 
padding-top: 1.2rem;
}
.easy{
    padding: 10rem 12%;
    background: #F5FFFF;
    display: flex;
    flex-direction: column;
    gap: 7rem;
}
.easy_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem
    ;
}

.easy_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;width: 100%;
    gap: 2rem;
}

.easy_text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.easy_text span{
    color: #258A22;
font-family: Onest;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19.6px; /* 140% */
letter-spacing: 2px;
text-transform: uppercase;
}

.easy_text p{
    color: #63657E;
font-family: Onest;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: 37.8px; /* 180% */
}

.easy_1> img{
    width: 20vw;
    height: 75vh;
}
.easy_2> img{
    width: 20vw;
    height: 75vh;


}
.text_body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.text_body p{
    padding-right: 1rem;
    display: flex;
    align-items: center;
    color: #1F2348;
    gap: 0.6rem;
font-family: Onest;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 180% */
}
.body p{
    color: #1F2348;
font-family: Onest;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 27px; 
padding-bottom: 0.5rem;
}

.bod{
    display: flex;
    justify-content: space-between;
}

.bod span{
    color: #63657E;
font-family: Onest;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 180% */
}










@media screen and (max-width: 1560px){
    .why_card{
        width: 80%;
    }
}


@media screen and (max-width: 1100px){
    .home_text{
        width: 45%;
    }
    .home_img{
        width: 50%;
    }
    .home_img img{
        width: 100%;
        height: 100%;
    }
    .easy_2> img{
     
        height: auto;
    }
    .easy_1> img{
       
        height: auto;
    }
}

@media screen and (max-width: 980px){
    .why{
        flex-direction: column;
        gap: 3rem;
    }

    .why_list{
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .why_card{
       width: 100%;
        padding: 3.5rem 2.8rem;

    }
    .easy_1{
        flex-direction: column;
    }
    .easy_2 {
        flex-direction: column-reverse;
    }
    .easy_2> img{
        width: 40%;
        margin-bottom: 2rem;
        height: 65vh;
    }
    .easy_1> img{
        width: 40%;
        height: 65vh;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 800px){
    
    h2{
        font-size: 2.8rem !important;
        line-height: 50px !important;
    }
    .home_text{
        width: 100%;
    }
    .main{
        flex-direction: column;
    }
    .home_img{
        width: 100%;
        padding-top: 3rem;
      
    }
    .home_img img{
        width: 85%;
        padding-left: 5%;
    }
    .home_text h1{
        color: #FFF;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    }
}
@media screen and (max-width: 650px) {
    .easy_2> img{
        width: 57%;
        margin-bottom: 2rem;
        height: 60vh;
    }
    .easy_1> img{
        width: 57%;
        height: 60vh;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 550px){
    .easy_2> img{
        width: 60%;
        margin-bottom: 2rem;
        height: 55vh;
    }
    .easy_1> img{
        width: 60%;
        height: 55vh;
        margin-bottom: 2rem;
    }
    .home_text{
        width: 100%;
    }
    .home_text h1{
        color: #FFF;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    }

    .home_text p{
        font-size: 1.2rem;
    }
    .check p{
        font-size: 1rem;
    }
    .star{
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }
    .sta{
        display: flex;
        padding: 1rem 2.5rem;
        align-self: center;

    }
    .sta h3{
        font-size: 2rem;
    }
}

@media screen and (max-width: 380px) {
    .home_text h1{
        font-size: 2.8rem;
        line-height: 50px;
    }
    .home_text p{
        font-size: 1rem;
        line-height: 30px;
    }
    .check{
        flex-direction: column;
        gap:0
        ;
        padding-top: 2rem;
    }
    .check p{
        padding-top: 0;
    }
    .star_1 h3{
        margin-top: 0;
    }

    
    .why_card{
        width: 100%;
         padding: 3.5rem 1rem;
 
     }

     .easy_2> img{
        width: 64%;
        margin-bottom: 2rem;
        height: 45vh;
    }
    .easy_1> img{
        width: 64%;
        height: 45vh;
        margin-bottom: 2rem;
    }
}
