@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;600;700;800&display=swap');

:root {
  --font: 'Onest', sans-serif;
  --green: #258A22;
  --back: #111827;

}

a{
  text-decoration: none;
}

.h2{
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1px;
    }


*{
  font-family: var(--font) !important;
  margin: 0;   
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;  
  scroll-padding-top: 3rem;
}